<h3
  style="font-family: sans-serif; margin-left: 1px; margin-top: 0px; margin-bottom: 0px; height: 42px; line-height: 2.625rem;">
  <a href="/" style="color: black;">Howie Mann</a>
</h3>
<h6> 
  Personal Blog of Ex-Banker -> Tech Startups
</h6>
