<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-139461575-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'UA-139461575-1');
  </script>

  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>{{metaTitle}}</title>
  <meta name="description" content="{{metaDescription}}">
  <link rel="stylesheet" href="/css/github-markdown.min.css">
  <link rel="stylesheet" href="/css/github-gist.min.css">
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">
  <link rel="manifest" href="/assets/favicon/site.webmanifest">
  <style>
    body {
      max-width: 42rem;
      display: block;
      margin: 0 auto;
      padding: 42px 21px;
    }

    main {
      min-height: 70vh;
    }

    img {
      display: block;
      margin: 0 auto;
      max-height: 300px;
    }

    iframe {
      display: block;
      margin: 15px auto;
      max-width: 100%;
    }
  </style>
</head>

<body class="markdown-body">
  <header>
    {{>header}}
  </header>

  <main>
    {{{body}}}
  </main>

  <!-- MailerLite Subscriber Form -->
  <div style="padding: 30px 0px">
    {{>mailerLite}}
  </div>

  {{!-- Lozad lazy image loading source --}}
  <script src="https://cdn.jsdelivr.net/npm/lozad"></script>
  <script>
    // Get all image tags and run Lozad lazy loading on them
    var images = document.querySelectorAll('img')
    var observer = lozad(images);
    observer.observe();
  </script>

  <!-- MailerLite Universal -->
  <script>
    (function (m, a, i, l, e, r) {
      m['MailerLiteObject'] = e;

      function f() {
        var c = {
          a: arguments,
          q: []
        };
        var r = this.push(c);
        return "number" != typeof r ? r : f.bind(c.q);
      }
      f.q = f.q || [];
      m[e] = m[e] || f.bind(f.q);
      m[e].q = m[e].q || f.q;
      r = a.createElement(i);
      var _ = a.getElementsByTagName(i)[0];
      r.async = 1;
      r.src = l + '?v' + (~~(new Date().getTime() / 1000000));
      _.parentNode.insertBefore(r, _);
    })(window, document, 'script', 'https://static.mailerlite.com/js/universal.js', 'ml');

    var ml_account = ml('accounts', '1482096', 'e4c1z8f2p5', 'load');
  </script>
  <!-- End MailerLite Universal -->

  <footer>
    {{>footer}}
  </footer>
</body>

</html>