<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-139461575-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'UA-139461575-1');
  </script>

  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>{{metaTitle}}</title>
  <meta name="description" content="{{metaDescription}}">
  <link rel="stylesheet" href="/css/github-markdown.min.css">
  <link rel="stylesheet" href="/css/github-gist.min.css">
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">
  <link rel="manifest" href="/assets/favicon/site.webmanifest">
  <style>
    body {
      max-width: 42rem;
      display: block;
      margin: 0 auto;
      padding: 42px 21px;
    }

    main {
      min-height: 70vh;
    }

    img {
      display: block;
      margin: 0 auto;
      max-height: 300px;
    }

    iframe {
      display: block;
      margin: 15px auto;
      max-width: 100%;
    }
  </style>
</head>

<body class="markdown-body">
  <header>
    <h3
      style="font-family: sans-serif; margin-left: 1px; margin-top: 0px; margin-bottom: 0px; height: 42px; line-height: 2.625rem;">
      <a href="/" style="color: black;">Howie Mann</a>
    </h3>
    <h6> I explain things learnt in software, finance and marketing. </h6>
  </header>

  <main>
    {{{body}}}
  </main>


<!-- Begin Mailchimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
  #mc_embed_signup {
    background: #fff;
    clear: left;
    font: 14px Helvetica, Arial, sans-serif;
    width: 100%;
  }

  /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
  <form action="https://gmail.us20.list-manage.com/subscribe/post?u=4dea92177410e97bfdc45c28f&amp;id=d37c240f5e"
    method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank"
    novalidate>
    <div id="mc_embed_signup_scroll">
      <label for="mce-EMAIL">Subscribe</label>
      <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
      <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
          name="b_4dea92177410e97bfdc45c28f_d37c240f5e" tabindex="-1" value=""></div>
      <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe"
          class="button"></div>
    </div>
  </form>
</div>

<!--End mc_embed_signup-->

  <footer>
    <a href="https://github.com/howardmann" target="_blank">github</a> | <a
      href="https://www.linkedin.com/in/howie-mann/" target="_blank">linkedin</a>
  </footer>
  {{!-- Lozad lazy image loading source --}}
  <script src="https://cdn.jsdelivr.net/npm/lozad"></script>
  <script>
    // Get all image tags and run Lozad lazy loading on them
    var images = document.querySelectorAll('img')
    var observer = lozad(images);
    observer.observe();
  </script>

</body>

</html>