<h1>
  {{post.fields.title}}
</h1>
<p>
  {{dateFormat post.sys.createdAt}} |
  {{readTime post.fields.body}}
</p>
<p>
  {{#each tags as |tag|}}
    {{> tag-single tag=tag}}
  {{/each}}
</p>
{{{body}}}
