
<div style="width: 80%; margin-left: 10%" >

  <h2>Template</h2>

  <p>Title: {{post.fields.title}}</p>
  <p>Description: {{post.fields.description}}</p>
  <hr>
  <p>Body:</p>
  <div class="markdown-body">
    {{{body}}}
  </div>

</div>
