body {
  max-width: 42rem;
  display: block;
  margin: 0 auto;
  padding: 42px 21px;
}
main {
  min-height: 70vh;
}

img {
  display: block;
  margin: 0 auto;
  max-height: 300px;
}

iframe {
  display: block;
  margin: 15px auto;
  max-width: 100%;
}
